@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center-mode {
    @apply flex items-center justify-center;
  }
  
  .container-custom {
    @apply max-w-[1400px] mx-auto px-8;
  }
}

.input {
  width: 100%;
  height: 36px;
  outline: none;
  padding: 0 10px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.input-add {
  @apply w-full h-[45px] rounded-2xl outline-none px-3 text-[#012350]
}

@media screen and (max-width: 1110px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 662px) {
  .cards {
    grid-template-columns: 1fr;
  }
}